<script type="text/html" id="colors">
  <!-- ko if: visible -->
  <a class="back" data-bind="attr: {href: '#'+layout() }">Pattern</a>
  <h2 data-bind="text: $data.title">Layout Template</h2>
  <div class="colorset">
    <div id="set" class="colors">
      <ul data-bind="foreach: colorswitches">
        <li data-bind="click: function() { $parent.selectColorSwitch($data) }, css: color() + (active() ? ' active': '')" class="swatch set"><span data-bind="text: $parent.getColorName($data.color())"></li>
      </ul>
      <ul>
        <li class="swatch set random">
          <img data-bind="click: randomColors" src="images/random.svg" />
        </li>
      </ul>
    </div>
    <div id="palette" class="palette" data-bind="css: switchPosition()">
      <ul data-bind="foreach: colors">
        <li data-bind="css: $data.class, click: function() { $parent.selectColor($data.class) }" class="swatch"><span data-bind="text: $data.name"></span></li>
      </ul>
    </div>
  </div>

  <div class="preview">
    <!-- <div class="left">
        <img src="/images/pattern_blank.png" alt="pattern picker">
        <svg id="bigPreview">big svg preview of pattern</svg>
      </div> -->
    <div class="note" data-bind="if: !pattern()">
      <span>Preview not available</span>
    </div>
    <div data-bind="if: bobble();">
      <div class="push">
        <!-- Push if bobble -->
      </div>
    </div>
    <!-- ko if: pattern() -->
    <div id="realPreview">
      <div id="beanie" data-bind="css: bcc()" class="color">
        <div id="y">
          <p id="x1j">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x1i">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x1h">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x1g">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x1f">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x1e">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x1d">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x1c">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x1b">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x1a">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x1">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x2">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x3">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x4">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x5">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x6">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x7">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x8">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x9">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x10">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x11">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x12">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x13">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x14">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x15">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x16">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x17">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x18">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x19">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x20">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x21">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x22">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x23">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x24">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x25">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x26">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x27">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x28">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x29">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x30">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x31">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x32">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x33">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x34">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x35">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x36">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x37">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x38">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x39">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x40">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x41">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x42">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x43">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x44">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x45">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x46">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x47">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x48">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x49">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x50">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x51">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x52">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x53">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x54">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x55">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x56">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x57">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x58">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x59">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x60">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x61">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x62">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x63">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x64">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <p id="x65">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': pattern }" xlink:href="" />
            </svg>
            <img src="images/pattern_overlay.png" alt="" />
          </p>
          <div class="bobble" data-bind="if: bobble();">
            <svg title="cormack">
              <use data-bind="attr: { 'xlink:href': bobble }" xlink:href="" />
              </use>
            </svg>
            <img id="bobble_shadow" src="images/bobble_shadow.png" alt="" />
          </div>
          <img id="mask" data-bind="attr: {src: mask }" alt="" />

        </div>
      </div>
    </div>
    <!--
    <button class="order">
      order
    </button> -->
    <div class="order" data-bind="template: { name: 'checkout-button', data: buyButton }"></div>
    <!-- /ko -->
  </div>
  <!-- /ko -->
</script>
