<script type="text/html" id="layout">
    <!-- ko if: visible -->
    <a class="back" href="#">Style</a>
    <h2 data-bind="text: $data.title">Layout</h2></a>
    <ul class="selection layout">
      <!-- ko foreach: $data.variants() -->
      <li>
        <a data-bind="attr: {href: '#' + $parent.hash() + '/' + $data }" href="#howitt/glory-boy">
          <img data-bind="attr: {src: $parent.items()[$data].img, alt: $parent.items()[$data].title}" src="images/gloryboy.jpg" alt="Glory Boy"><br />
          <span data-bind="text: $parent.items()[$data].title">Glory Boy</span><br>
          <span class="price" data-bind="text: $parent.items()[$data].price"></span></a>
        </a>
      </li>
        <!-- /ko -->
        <!--
      <li>
        <a href="#howitt/haven"><img src="images/haven.jpg" alt="Haven"><br>Haven</a>
      </li>
      <li>
        <a href="#howitt/striangles"><img src="images/striangles.jpg" alt="Striangles"><br>Striangles</a>
      </li>
    -->
    </ul>
    <!-- /ko -->
</script>
