<script type="text/html" id="main">
    <!-- ko if: visible -->
    <h2 class="main" data-bind="text: $data.title">Main Template</h2>

    <ul class="style selection">
      <!-- ko foreach: $data.beanies() -->
      <li>
        <a data-bind="attr: { 'href': '#' + $data }">
          <img data-bind="attr: { 'src': $parent.items()[$data].img }" src="images/howitt.jpg" alt="Howitt">
          <br /><span data-bind="text: $parent.items()[$data].title"></span><br>
          <span class="price" data-bind="text: $parent.items()[$data].price"></span></a>
      </li>
      <!-- /ko -->
      <!--
      <li>
        <a href="#cormack"><img src="images/cormack.jpg" alt="Cormack"><br>Cormack</a>
      </li>
      <li>
        <a href="#arthur"><img src="images/arthur.jpg" alt="Arthur"><br>Arthur</a>
      </li>
      <li>
        <a href="#bowen"><img src="images/bowen.jpg" alt="Bowen"><br>Bowen</a>
      </li>
    -->
    </ul>
    <!-- /ko -->
</script>
