<script type="text/html" id="save">
  <!-- ko if: visible -->
  <a class="back" href="/">Home</a>
  <h2 style="margin: 24% auto;" data-bind="text: $data.title">Save Template</h2>
  <!-- /ko -->
</script>
