body, html {
  margin: 0;
  padding: 0; }

#beanie {
  width: 360px;
  height: 500px;
  margin-left: 200px; }

#y img {
  border: 0;
  margin-left: -435px; }

p {
  margin: 0;
  padding: 0;
  float: left;
  height: 540px;
  background-image: url(../pattern_overlay2.png), url(../pattern_blank.png);
  background-repeat: repeat-x;
  background-size: auto 330px;
  position: relative;
  z-index: -9999; }

.bobble {
  margin: 0;
  margin-left: 0 !important;
  padding: 0;
  float: left;
  height: 127px;
  width: 137px;
  position: absolute;
  top: 82px;
  left: 273px;
  z-index: 99999; }

#y {
  width: 570px; }

#y #x1j {
  background-position: 248px 185px;
  width: 1px; }

#y #x1i {
  background-position: 242px 185px;
  width: 1px; }

#y #x1h {
  background-position: 236px 185px;
  width: 1px; }

#y #x1g {
  background-position: 230px 185px;
  width: 1px; }

#y #x1f {
  background-position: 224px 185px;
  width: 1px; }

#y #x1e {
  background-position: 218px 185px;
  width: 1px; }

#y #x1d {
  background-position: 212px 185px;
  width: 1px; }

#y #x1c {
  background-position: 207px 185px;
  width: 1px; }

#y #x1b {
  background-position: 202px 185px;
  width: 1px; }

#y #x1a {
  background-position: 197px 185px;
  width: 1px; }

#y #x1 {
  background-position: 192px 185px;
  width: 1px; }

#y #x2 {
  background-position: 187px 185px;
  width: 1px; }

#y #x3 {
  background-position: 182px 185px;
  width: 1px; }

#y #x4 {
  background-position: 177px 185px;
  width: 1px; }

#y #x5 {
  background-position: 172px 185px;
  width: 2px; }

#y #x6 {
  background-position: 167px 185px;
  width: 2px; }

#y #x7 {
  background-position: 162px 185px;
  width: 2px; }

#y #x8 {
  background-position: 157px 185px;
  width: 2px; }

#y #x9 {
  background-position: 152px 185px;
  width: 2px; }

#y #x10 {
  background-position: 147px 185px;
  width: 2px; }

#y #x11 {
  background-position: 142px 185px;
  width: 2px; }

#y #x12 {
  background-position: 136px 185px;
  width: 3px; }

#y #x13 {
  background-position: 130px 185px;
  width: 3px; }

#y #x14 {
  background-position: 123px 185px;
  width: 3px; }

#y #x15 {
  background-position: 118px 185px;
  width: 3px; }

#y #x16 {
  background-position: 112px 185px;
  width: 4px; }

#y #x17 {
  background-position: 106px 185px;
  width: 4px; }

#y #x18 {
  background-position: 100px 185px;
  width: 4px; }

#y #x19 {
  background-position: 94px 185px;
  width: 5px; }

#y #x20 {
  background-position: 87px 185px;
  width: 5px; }

#y #x21 {
  background-position: 80px 185px;
  width: 5px; }

#y #x22 {
  background-position: 73px 185px;
  width: 5px; }

#y #x23 {
  background-position: 66px 185px;
  width: 7px; }

#y #x24 {
  background-position: 57px 185px;
  width: 8px; }

#y #x25 {
  background-position: 47px 185px;
  width: 9px; }

#y #x26 {
  background-position: 36px 185px;
  width: 10px; }

#y #x27 {
  background-position: 24px 185px;
  width: 20px; }

#y #x28 {
  background-position: 5px 185px;
  width: 25px; }

#y #x29 {
  background-position: -22px 185px;
  width: 20px; }

#y #x30 {
  background-position: -44px 185px;
  width: 10px; }

#y #x31 {
  background-position: -56px 185px;
  width: 9px; }

#y #x32 {
  background-position: -67px 185px;
  width: 8px; }

#y #x33 {
  background-position: -77px 185px;
  width: 7px; }

#y #x34 {
  background-position: -86px 185px;
  width: 5px; }

#y #x35 {
  background-position: -93px 185px;
  width: 5px; }

#y #x36 {
  background-position: -100px 185px;
  width: 5px; }

#y #x37 {
  background-position: -107px 185px;
  width: 5px; }

#y #x38 {
  background-position: -114px 185px;
  width: 4px; }

#y #x39 {
  background-position: -120px 185px;
  width: 4px; }

#y #x40 {
  background-position: -126px 185px;
  width: 4px; }

#y #x41 {
  background-position: -133px 185px;
  width: 3px; }

#y #x42 {
  background-position: -139px 185px;
  width: 3px; }

#y #x43 {
  background-position: -145px 185px;
  width: 3px; }

#y #x44 {
  background-position: -151px 185px;
  width: 3px; }

#y #x45 {
  background-position: -158px 185px;
  width: 2px; }

#y #x46 {
  background-position: -163px 185px;
  width: 2px; }

#y #x47 {
  background-position: -168px 185px;
  width: 2px; }

#y #x48 {
  background-position: -173px 185px;
  width: 2px; }

#y #x49 {
  background-position: -178px 185px;
  width: 2px; }

#y #x50 {
  background-position: -183px 185px;
  width: 2px; }

#y #x51 {
  background-position: -188px 185px;
  width: 2px; }

#y #x52 {
  background-position: -194px 185px;
  width: 1px; }

#y #x53 {
  background-position: -199px 185px;
  width: 1px; }

#y #x54 {
  background-position: -204px 185px;
  width: 1px; }

#y #x55 {
  background-position: -209px 185px;
  width: 1px; }

#y #x56 {
  background-position: -214px 185px;
  width: 1px; }

#y #x57 {
  background-position: -219px 185px;
  width: 1px; }

#y #x58 {
  background-position: -224px 185px;
  width: 1px; }

#y #x59 {
  background-position: -229px 185px;
  width: 1px; }

#y #x60 {
  background-position: -235px 185px;
  width: 1px; }

#y #x61 {
  background-position: -241px 185px;
  width: 1px; }

#y #x62 {
  background-position: -247px 185px;
  width: 1px; }

#y #x63 {
  background-position: -253px 185px;
  width: 1px; }

#y #x64 {
  background-position: -259px 185px;
  width: 1px; }

#y #x65 {
  background-position: -265px 185px;
  width: 1px; }
