
.swatch {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 4px 4px -2px;
  border: 2px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  @include transition(.15s $ease-in-out-sine all);
  position: relative;
  z-index: 9999;

  /*CSS3 extras*/
  span {
    display: block;
    border-radius: 2px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,.4);
    position: absolute;
    padding: 5px 8px 6px;
    line-height: 1em;
    top: 0px;
    right: 0px;
    @include transition(.2s $ease-in-out-quad all);
    @include transform(translateY(-20px) translateX(-12px));
    background-color: $primary; //#2E353F;
    z-index: 11 !important;
    color: white;
    pointer-events:none;
    //display: none;
    opacity: 0;
    white-space: nowrap;

    &:before {
      content: "";
      display: block;
      background-color: $primary;
      border: solid 2px $primary;
      border-left: 0px;
      border-top: 0px;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 22px;
      right: 2px;
      @include transform(rotate(45deg));
    }
  }


  &:hover {
    //box-shadow: 0 0px 6px 0 $primary;

    span {
      display: block;
      opacity: 1;
      @include transform(translateY(-32px)  translateX(-12px));
    }
  }

  &.set {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: inset 0 3px 6px 0 rgba(0,0,0,.2);
    @include transition(.2s $ease-in-out-sine all);

    @media screen and (max-width: 375px) {
      margin-right: 15px;
    }

    &.active {
        border-color: $primary;
    }

    span {
      @include transform(translateY(-20px) translateX(-14px));
    }

    &:hover {
      //box-shadow: 0 0px 6px 0 $primary;

      span {
        @include transform(translateY(-32px)  translateX(-14px));
      }
    }
  }

  @each $class, $color in ($swatches) {
    &.#{$class} {
      background: #{$color} url(../images/colors/#{$class}.png) top left repeat;
    }
  }
}

.random {
  float: right;
  clear:both;
  cursor: pointer;
  position: relative;
  z-index: 10;
  padding: 8px 9px 10px 11px;
  text-indent: 0;
  background-color: $primary;
  margin-top: 4px;
  box-shadow: none !important;

  &:hover {
    background-color: darken($primary, 8%);
  }

  img {
    fill: white;
    width: 25px;
    height: 25px;
  }
}

.colors {
  text-align: center;
  margin: 20px 0px 0 0;
  padding-bottom: 8px;
  float: right;

  .swatch {
    display: block;
  }
}

.palette {
  float: right;
  width: 279px;
  text-align: left;
  margin:0px 10px 0px 0;
  padding: 6.5px 7.5px;
  background-color: #fefefe;
  z-index: 9;
  overflow: visible;
  position: relative;
  border: 2px solid $primary;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.3);
  border-radius: 15px;

  @media screen and (max-width: 400px) {
    opacity: 0;
    @include transition(.3s $ease-in-out-quad all);

    &.p1, &.p2, &.p3, &.p4, &.p5, &.p6 {
      opacity: 1;
    }
  }

  &:before {
    content: "";
    display: block;
    background-color: #fefefe;
    border: 2px solid $primary;
    border-bottom: 0px;
    border-left: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 36px;
    right: -11px;
    @include transform(rotate(45deg));

    @media screen and (min-width: 400px) {
      @include transition(.5s $ease-in-out-quad all);
    }
  }

  &.p1:before {
    top: 36px;
  }
  &.p2:before {
    top: 86px;
  }
  &.p3:before {
    top: 137px;
  }
  &.p4:before {
    top: 186px;
  }
  &.p5:before {
    top: 237px;
  }
  &.p6:before {
    top: 287px;
  }
}
