@font-face {
    font-family: 'stationmedium';
    src: url('../fonts/station-webfont.eot');
    src: url('../fonts/station-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/station-webfont.woff') format('woff'),
         url('../fonts/station-webfont.ttf') format('truetype'),
         url('../fonts/station-webfont.svg#stationmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}