@mixin btn($color: $primary, $font-size: 1.125em, $padding: 15px 1.5em 13px) {
    font-size: 1.125em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.07em;
    padding: 15px 1.5em 13px;
    line-height: 1.25em;
    color: white !important;
    background: $color;
    @include border-top-radius(100px);
    @include border-right-radius(100px);
    @include border-bottom-radius(100px);
    @include border-left-radius(100px);
    display: inline-block;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: darken($color, 8%);
    }
}

@mixin flash($color: $primary) {
    width: 100%;
    display: block;
    text-align: center;

    span {
        padding: 5px 20px;
        border: lighten($color, 10%) 1px solid;
        background-color: lighten(desaturate($color, 10%), 30%);
        color: darken($color, 20%);
        border-radius: 100px;
        display: inline-block;
        margin: 230px auto;
    }
}