#realPreview {
  position: relative;
  margin-left: 40px;
  margin-top: -40px;

  div#beanie {

    &.color {

      /*
      *     GENERATE group#color classes for svg fill mapping,
      *     increase stop-loop for more groups
      *     ------> TODO
      */

      $stop-loop:  6;
      $groupid: "#group";
      $groupclass: ".group";
      @for $i from 0 through $stop-loop {
        @each $class, $color in ($swatches) {
          &#{$groupclass}#{$i}-#{$class} {
            svg #{$groupid}#{$i} {
              fill: #{$color};
            }
          }
        }
      }
    }

    //Todo: generate groups like above
    //@each $class, $color in
    //                        () {
    //  ##{$class} {
    //    svg #group1, svg #group2, svg #group3, svg #group4, svg #group5, svg #group6 {
    //      fill: #{$color};
    //    }
    //  }
    //}
  }
}

#beanie {
  margin-top: 0;
  width: 360px;
  height: 570px;
}

#mask {
  position: absolute;
  left: -140px;
  width: 600px !important;
  max-width: none !important;
}

#y object,
#y img,
#y svg {
  border: 0;

  //margin-left: -420px;
  height: 600px;
}

p {
  margin: 0;
  padding: 0;
  float: left;
  height: 540px !important;
  overflow: hidden;
  display: inline-block;

  //background-image: url(/images/patternoverlay.png), url(/images/patternblank.png);
  //background-repeat: repeat-x;
  //background-size: auto 330px;
  position: relative;

  //z-index: -9999;
  object,
  svg {
    height: 355px !important;
    width: 485px !important;
    position: absolute;
  }

  img {
    height: 355px !important;
    width: auto;
    position: absolute;
    max-width: none;
  }
}

.bobble {
  margin: 0;
  margin-left: 0 !important;
  padding: 0 5px 4px 0;
  float: left;
  height: 147,3px;
  width: 148.1px;
  position: absolute;
  top: 70px;
  left: 87px;
  z-index: 99999;
  background-repeat: no-repeat;
  text-align: center;

  img {
    width: 100%;
    //height: 100% !important;
    margin-left: 0.5px !important;
    margin-top: 0;
  }
}

img#bobble_shadow {
  position: absolute;
  top: 0;
  left: -1px;
  height: 144px !important;
  width: 145px !important;
}

#y {
  width: 570px;
  margin-left: 20px;
}

$top-pos: 184px;
$left-null: -205;

#y #x1j {
  object,
  img,
  svg {
    left: $left-null;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1i {
  object,
  img,
  svg {
    left: $left-null - 6px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1h {
  object,
  img,
  svg {
    left: $left-null - 12px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1g {
  object,
  img,
  svg {
    left: $left-null - 18px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1f {
  object,
  img,
  svg {
    left: $left-null - 24px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1e {
  object,
  img,
  svg {
    left: $left-null - 30px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1d {
  object,
  img,
  svg {
    left: $left-null - 36px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1c {
  object,
  img,
  svg {
    left: $left-null - 41px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1b {
  object,
  img,
  svg {
    left: $left-null - 46px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1a {
  object,
  img,
  svg {
    left: $left-null - 51px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1 {
  object,
  img,
  svg {
    left: $left-null - 56px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x2 {
  object,
  img,
  svg {
    left: $left-null -61px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x3 {
  object,
  img,
  svg {
    left: $left-null - 66px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x4 {
  object,
  img,
  svg {
    left: $left-null -71px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x5 {
  object,
  img,
  svg {
    left: $left-null - 76px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x6 {
  object,
  img,
  svg {
    left: $left-null - 81px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x7 {
  object,
  img,
  svg {
    left: $left-null -86px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x8 {
  object,
  img,
  svg {
    left: $left-null - 91px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x9 {
  object,
  img,
  svg {
    left: $left-null - 96px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x10 {
  object,
  img,
  svg {
    left: $left-null - 101px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x11 {
  object,
  img,
  svg {
    left: $left-null - 106px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x12 {
  object,
  img,
  svg {
    left: $left-null - 112px;
    top: $top-pos;
  }
  width: 3px;
}

#y #x13 {
  object,
  img,
  svg {
    left: $left-null - 118px;
    top: $top-pos;
  }
  width: 3px;
}

#y #x14 {
  object,
  img,
  svg {
    left: $left-null - 125px;
    top: $top-pos;
  }
  width: 3px;
}

#y #x15 {
  object,
  img,
  svg {
    left: $left-null - 130px;
    top: $top-pos;
  }
  width: 3px;
}

#y #x16 {
  object,
  img,
  svg {
    left: $left-null - 136px;
    top: $top-pos;
  }
  width: 4px;
}

#y #x17 {
  object,
  img,
  svg {
    left: $left-null - 142px;
    top: $top-pos;
  }
  width: 4px;
}

#y #x18 {
  object,
  img,
  svg {
    left: $left-null - 148px;
    top: $top-pos;
  }
  width: 4px;
}

#y #x19 {
  object,
  img,
  svg {
    left: $left-null - 154px;
    top: $top-pos;
  }
  width: 5px;
}

#y #x20 {
  object,
  img,
  svg {
    left: $left-null - 161px;
    top: $top-pos;
  }
  width: 5px;
}

#y #x21 {
  object,
  img,
  svg {
    left: $left-null - 168px;
    top: $top-pos;
  }
  width: 5px;
}

#y #x22 {
  object,
  img,
  svg {
    left: $left-null - 175px;
    top: $top-pos;
  }
  width: 5px;
}

#y #x23 {
  object,
  img,
  svg {
    left: $left-null - 182px;
    top: $top-pos;
  }
  width: 7px;
}

#y #x24 {
  object,
  img,
  svg {
    left: $left-null - 191px;
    top: $top-pos;
  }
  width: 8px;
}

#y #x25 {
  object,
  img,
  svg {
    left: $left-null - 201px;
    top: $top-pos;
  }
  width: 9px;
}

#y #x26 {
  object,
  img,
  svg {
    left: $left-null - 212px;
    top: $top-pos;
  }
  width: 10px;
}

#y #x27 {
  object,
  img,
  svg {
    left: $left-null - 224px;
    top: $top-pos;
  }
  width: 20px;
}

#y #x28 {
  object,
  img,
  svg {
    left: 0px;
    top: $top-pos;
  }
  width: 25px;
}

#y #x29 {
  object,
  img,
  svg {
    left: -22px;
    top: $top-pos;
  }
  width: 20px;
}

#y #x30 {
  object,
  img,
  svg {
    left: -44px;
    top: $top-pos;
  }
  width: 10px;
}

#y #x31 {
  object,
  img,
  svg {
    left: -56px;
    top: $top-pos;
  }
  width: 9px;
}

#y #x32 {
  object,
  img,
  svg {
    left: -67px;
    top: $top-pos;
  }
  width: 8px;
}

#y #x33 {
  object,
  img,
  svg {
    left: -77px;
    top: $top-pos;
  }
  width: 7px;
}

#y #x34 {
  object,
  img,
  svg {
    left: -86px;
    top: $top-pos;
  }
  width: 5px;
}

#y #x35 {
  object,
  img,
  svg {
    left: -93px;
    top: $top-pos;
  }
  width: 5px;
}

#y #x36 {
  object,
  img,
  svg {
    left: -100px;
    top: $top-pos;
  }
  width: 5px;
}

#y #x37 {
  object,
  img,
  svg {
    left: -107px;
    top: $top-pos;
  }
  width: 5px;
}

#y #x38 {
  object,
  img,
  svg {
    left: -114px;
    top: $top-pos;
  }
  width: 4px;
}

#y #x39 {
  object,
  img,
  svg {
    left: -120px;
    top: $top-pos;
  }
  width: 4px;
}

#y #x40 {
  object,
  img,
  svg {
    left: -126px;
    top: $top-pos;
  }
  width: 4px;
}

#y #x41 {
  object,
  img,
  svg {
    left: -133px;
    top: $top-pos;
  }
  width: 3px;
}

#y #x42 {
  object,
  img,
  svg {
    left: -139px;
    top: $top-pos;
  }
  width: 3px;
}

#y #x43 {
  object,
  img,
  svg {
    left: -145px;
    top: $top-pos;
  }
  width: 3px;
}

#y #x44 {
  object,
  img,
  svg {
    left: -151px;
    top: $top-pos;
  }
  width: 3px;
}

#y #x45 {
  object,
  img,
  svg {
    left: -158px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x46 {
  object,
  img,
  svg {
    left: -163px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x47 {
  object,
  img,
  svg {
    left: -168px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x48 {
  object,
  img,
  svg {
    left: -173px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x49 {
  object,
  img,
  svg {
    left: -178px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x50 {
  object,
  img,
  svg {
    left: -183px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x51 {
  object,
  img,
  svg {
    left: -188px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x52 {
  object,
  img,
  svg {
    left: -194px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x53 {
  object,
  img,
  svg {
    left: -199px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x54 {
  object,
  img,
  svg {
    left: -204px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x55 {
  object,
  img,
  svg {
    left: -209px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x56 {
  object,
  img,
  svg {
    left: -214px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x57 {
  object,
  img,
  svg {
    left: -219px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x58 {
  object,
  img,
  svg {
    left: -224px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x59 {
  object,
  img,
  svg {
    left: -229px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x60 {
  object,
  img,
  svg {
    left: -235px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x61 {
  object,
  img,
  svg {
    left: -241px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x62 {
  object,
  img,
  svg {
    left: -247px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x63 {
  object,
  img,
  svg {
    left: -253px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x64 {
  object,
  img,
  svg {
    left: -259px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x65 {
  object,
  img,
  svg {
    left: -265px;
    top: $top-pos;
  }
  width: 1px;
}
