.push {
  display: block;
  height: 40px;
}

#realPreview {
  position: relative;
  margin-left: 40px;
  margin-top: -80px;

  @media screen and (max-width: 375px) {
    @include transform(scale(.9));
    margin-left: -10px;
    margin-top: -550px;
  }

  div#beanie {

    &.color {

      /*
      *     GENERATE group#color classes for svg fill mapping,
      *     increase stop-loop for more groups
      *     ------> TODO
      */

      $stop-loop:  6;
      $groupid: "#group";
      $groupclass: ".group";
      @for $i from 0 through $stop-loop {
        @each $class, $color in ($swatches) {
          &#{$groupclass}#{$i}-#{$class} {
            svg #{$groupid}#{$i} {
              //@include transition(.5s all $ease-in-out-quad);
              fill: #{$color};
            }
          }
        }
      }
    }

    //Todo: generate groups like above
    //@each $class, $color in
    //                        () {
    //  ##{$class} {
    //    svg #group1, svg #group2, svg #group3, svg #group4, svg #group5, svg #group6 {
    //      fill: #{$color};
    //    }
    //  }
    //}
  }
}

#beanie {
  margin-top: 0;
  width: 360px;
  height: 570px;
}

#mask {
  position: absolute;
  left: -140px;
  top: -15px;
  width: 600px !important;
  height: 635px !important;
  max-width: none !important;
}

#y object,
#y svg {
  border: 0;

  //margin-left: -420px;
  height: 600px;
}

#y p img {
  top: 185px;
}

p {
  margin: 0;
  padding: 0;
  float: left;
  height: 540px !important;
  overflow: hidden;
  display: inline-block;

  //background-image: url(/images/patternoverlay.png), url(/images/patternblank.png);
  //background-repeat: repeat-x;
  //background-size: auto 330px;
  position: relative;

  //z-index: -9999;
  object,
  svg {
    height: 755px !important;
    width: 580px !important;
    /*width: 490px !important;*/
    position: absolute;
  }

  img {
    margin-top: -5px;
    height: 355px !important;
    width: auto;
    position: absolute;
    max-width: none;
  }
}

.bobble {
  margin: 0;
  margin-left: 0 !important;
  padding: 0 5px 4px 0;
  float: left;
  height: 147,3px;
  width: 148.1px;
  position: absolute;
  top: 70px;
  left: 87px;
  z-index: 99999;
  background-repeat: no-repeat;
  text-align: center;

  img {
    width: 100%;
    //height: 100% !important;
    margin-left: 0.5px !important;
    margin-top: 0;
  }
}

img#bobble_shadow {
  position: absolute;
  top: 0;
  left: -1px;
  height: 144px !important;
  width: 145px !important;
}

#y {
  width: 570px;
  margin-left: 20px;
}

$top-pos: 180px;
$left-null: 0px;
/*$left-null: -235px;*/

#y #x1j {
  object,
  svg {
    left: $left-null;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1i {
  object,
  svg {
    left: $left-null - 6px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1h {
  object,
  svg {
    left: $left-null - 12px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1g {
  object,
  svg {
    left: $left-null - 18px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1f {
  object,
  svg {
    left: $left-null - 24px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1e {
  object,
  svg {
    left: $left-null - 30px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1d {
  object,
  svg {
    left: $left-null - 36px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1c {
  object,
  svg {
    left: $left-null - 41px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1b {
  object,
  svg {
    left: $left-null - 46px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1a {
  object,
  svg {
    left: $left-null - 51px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x1 {
  object,
  svg {
    left: $left-null - 56px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x2 {
  object,
  svg {
    left: $left-null - 61px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x3 {
  object,
  svg {
    left: $left-null - 66px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x4 {
  object,
  svg {
    left: $left-null - 71px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x5 {
  object,
  svg {
    left: $left-null - 76px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x6 {
  object,
  svg {
    left: $left-null - 81px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x7 {
  object,
  svg {
    left: $left-null - 86px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x8 {
  object,
  svg {
    left: $left-null - 91px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x9 {
  object,
  svg {
    left: $left-null - 96px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x10 {
  object,
  svg {
    left: $left-null - 101px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x11 {
  object,
  svg {
    left: $left-null - 106px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x12 {
  object,
  svg {
    left: $left-null - 112px;
    top: $top-pos;
  }
  width: 3px;
}

#y #x13 {
  object,
  svg {
    left: $left-null - 118px;
    top: $top-pos;
  }
  width: 3px;
}

#y #x14 {
  object,
  svg {
    left: $left-null - 125px;
    top: $top-pos;
  }
  width: 3px;
}

#y #x15 {
  object,
  svg {
    left: $left-null - 130px;
    top: $top-pos;
  }
  width: 3px;
}

#y #x16 {
  object,
  svg {
    left: $left-null - 136px;
    top: $top-pos;
  }
  width: 4px;
}

#y #x17 {
  object,
  svg {
    left: $left-null - 142px;
    top: $top-pos;
  }
  width: 4px;
}

#y #x18 {
  object,
  svg {
    left: $left-null - 148px;
    top: $top-pos;
  }
  width: 4px;
}

#y #x19 {
  object,
  svg {
    left: $left-null - 154px;
    top: $top-pos;
  }
  width: 5px;
}

#y #x20 {
  object,
  svg {
    left: $left-null - 161px;
    top: $top-pos;
  }
  width: 5px;
}

#y #x21 {
  object,
  svg {
    left: $left-null - 168px;
    top: $top-pos;
  }
  width: 5px;
}

#y #x22 {
  object,
  svg {
    left: $left-null - 175px;
    top: $top-pos;
  }
  width: 5px;
}

#y #x23 {
  object,
  svg {
    left: $left-null - 182px;
    top: $top-pos;
  }
  width: 7px;
}

#y #x24 {
  object,
  svg {
    left: $left-null - 191px;
    top: $top-pos;
  }
  width: 8px;
}

#y #x25 {
  object,
  svg {
    left: $left-null - 201px;
    top: $top-pos;
  }
  width: 9px;
}

#y #x26 {
  object,
  svg {
    left: $left-null - 212px;
    top: $top-pos;
  }
  width: 10px;
}

#y #x27 {
  object,
  svg {
    left: $left-null - 222px;
    top: $top-pos;
  }
  width: 30px;
}

#y #x28 {
  object,
  svg {
    left: $left-null - 250px;
    top: $top-pos;
  }
  width: 20px;
}

#y #x29 {
  object,
  svg {
    left: $left-null - 270px;
    top: $top-pos;
  }
  width: 20px;
}

#y #x30 {
  object,
  svg {
    left: $left-null - 292px;
    top: $top-pos;
  }
  width: 10px;
}

#y #x31 {
  object,
  svg {
    left: $left-null - 304px;
    top: $top-pos;
  }
  width: 9px;
}

#y #x32 {
  object,
  svg {
    left: $left-null - 315px;
    top: $top-pos;
  }
  width: 8px;
}

#y #x33 {
  object,
  svg {
    left: $left-null - 325px;
    top: $top-pos;
  }
  width: 7px;
}

#y #x34 {
  object,
  svg {
    left: $left-null - 334px;
    top: $top-pos;
  }
  width: 5px;
}

#y #x35 {
  object,
  svg {
    left: $left-null - 341px;
    top: $top-pos;
  }
  width: 5px;
}

#y #x36 {
  object,
  svg {
    left: $left-null - 348px;
    top: $top-pos;
  }
  width: 5px;
}

#y #x37 {
  object,
  svg {
    left: $left-null - 355px;
    top: $top-pos;
  }
  width: 5px;
}

#y #x38 {
  object,
  svg {
    left: $left-null - 362px;
    top: $top-pos;
  }
  width: 4px;
}

#y #x39 {
  object,
  svg {
    left: $left-null - 368px;
    top: $top-pos;
  }
  width: 4px;
}

#y #x40 {
  object,
  svg {
    left: $left-null - 374px;
    top: $top-pos;
  }
  width: 4px;
}

#y #x41 {
  object,
  svg {
    left: $left-null - 381px;
    top: $top-pos;
  }
  width: 3px;
}

#y #x42 {
  object,
  svg {
    left: $left-null - 387px;
    top: $top-pos;
  }
  width: 3px;
}

#y #x43 {
  object,
  svg {
    left: $left-null - 393px;
    top: $top-pos;
  }
  width: 3px;
}

#y #x44 {
  object,
  svg {
    left: $left-null - 399px;
    top: $top-pos;
  }
  width: 3px;
}

#y #x45 {
  object,
  svg {
    left: $left-null - 406px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x46 {
  object,
  svg {
    left: $left-null - 411px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x47 {
  object,
  svg {
    left: $left-null - 416px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x48 {
  object,
  svg {
    left: $left-null - 421px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x49 {
  object,
  svg {
    left: $left-null - 426px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x50 {
  object,
  svg {
    left: $left-null - 431px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x51 {
  object,
  svg {
    left: $left-null - 436px;
    top: $top-pos;
  }
  width: 2px;
}

#y #x52 {
  object,
  svg {
    left: $left-null - 442px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x53 {
  object,
  svg {
    left: $left-null - 447px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x54 {
  object,
  svg {
    left: $left-null - 453px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x55 {
  object,
  svg {
    left: $left-null - 458px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x56 {
  object,
  svg {
    left: $left-null - 463px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x57 {
  object,
  svg {
    left: $left-null - 468px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x58 {
  object,
  svg {
    left: $left-null - 473px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x59 {
  object,
  svg {
    left: $left-null - 478px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x60 {
  object,
  svg {
    left: $left-null - 484px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x61 {
  object,
  svg {
    left: $left-null - 490px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x62 {
  object,
  svg {
    left: $left-null - 496px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x63 {
  object,
  svg {
    left: $left-null - 500px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x64 {
  object,
  svg {
    left: $left-null - 506px;
    top: $top-pos;
  }
  width: 1px;
}

#y #x65 {
  object,
  svg {
    left: -265px $left-null - 510px;
    top: $top-pos;
  }
  width: 1px;
}
