// k-nit colors
$primary:       #13a89e;
$secondary:     #0086B3;
$tertiary:      #f7941e;



$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;


// Swatches

$swatches:(
    white: #eee4ce,
    ecru: #e1d8be,
    solar: #f2d697,
    daffodil: #dabc5b,
    picadilli: #dac542,
    pamplemousse: #f4bc43,
    inferno: #d64c48,
    ember: #ac4c40,
    tartanscarlet: #cb2939,
    dubonnet: #882b37,
    empire: #752c5d,
    clematis: #885785,
    lupin: #a89fc1,
    showbiz: #cb94be,
    candy: #f0b2bb,
    festival: #bc566c,
    damask: #a5295e,
    bordeaux: #663540,
    fudge: #9c795b,
    kiwi: #97ac7e,
    cucumber: #86b561,
    chameleon: #6b804c,
    grove: #196d60,
    niagara: #182e4f,
    diesel: #124863,
    bluelovat: #4f6777,
    casino: #155a94,
    speedwell: #33629a,
    stonewash: #5994c4,
    paradiseblue: #8bafcf,
    gulfstream: #4099aa,
    antigua: #8dc3ca,
    lightgrey: #a4a1a2,
    timberwolf: #6e7673,
    metallic: #414950,
    characoal: #464547,
    black: #2f2e2e,
    airforce: #474e61,
    apple: #75993b,
    basil: #664e2a,
    birch: #746c5a,
    black2: #111111,
    bordeaux2: #531f2b,
    bottlegreen: #1e2a20,
    brightpink: #b7205c,
    cactus: #5c553c,
    camel: #d9ac8a,
    cerise: #9b3d63,
    schamoix: #685949,
    charcoal: #383838,
    chocolate: #2e2818,
    coral: #ab3f40,
    cream: #cbcbb9,
    emerald: #018848,
    gold: #df9b1c,
    gordo: #9b072b,
    lilac: #b2728b,
    mallard: #3b494c,
    mediumgrey: #6e6e6e,
    navy: #15293d,
    palepink: #ffd0e3,
    powderpink: #d8768c,
    purple: #47307c,
    royalblue: #3a4d96,
    scarlet: #c5000f,
    silver: #b9b1a3,
    sky: #96b4c6,
    sunshine: #e59c42,
    tangerine: #ff7d3e,
    teal: #015e56,
    toffee: #62422c,
    tomato: #921b20,
    turquoise: #01a59a,
    violetta: #7c507d,
    white2: #f1f1f1,
    willow: #e5d973
);