
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "font";
@import "variables";
@import "mixins";
@import "colors";

//$font-path: "./fonts" !default;

*, button {
  font-family: "stationmedium", Helvetica, sans-serif;
  font-weight: normal;
}

html, body {
  margin: 0; padding: 0;
  background-color: lighten(lightgrey, 12%);
}

@mixin large-title() {
  margin: 0 auto;
  font-size: 3em;
  width: 500px;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 30px 0 0 0px;
  display: block;
  font-size: 1.6em;
  width: 100%;
  font-weight: normal;
  font-family: "stationmedium", Helvetica, sans-serif;

  &.main {
    margin: 60px 0 0 0px;

    @media screen and (min-width: 667px) {
      @include large-title();
    }
  }

  @media screen and (min-width: 667px) {
    @include large-title();
  }
}

canvas {
  border: 0;
  box-shadow: 0px 0px 20px -10px rgba(111,111,111,.666);
}

.beanieCanvasContainer {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  min-height: 520px;
}

.container {
  @include outer-container;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  overflow: hidden;

  @media screen and (min-width: 940px) {
    margin-top: 40px;
    padding: 55px 40px 60px;
    border: 1px solid lighten(lightgrey, 5%);
  }
}

button, .btn, .order a {
  @include btn();
  float: right;

  @media screen and (max-width: 375px) {
    margin-left: 50%;
    @include transform(translate(-50%));
    float: none;
  }
}

.note {
  @include flash($tertiary);
}

a {
  color: $secondary;

  &:hover {
    color: darken($secondary, 10%)
  }

  span.price {
    font-size: .6em;
    display: block;
    margin-top: -3px;
    color: $primary;
  }
}

.back {
  font-size: 1.5em;
  margin-top: -15px;
  display: inline-block;
  font-weight: normal;
  margin-left: 22px;

  @media screen and (min-width: 667px) {
    float: left;
    margin-top: 9px;
  }

  &:before {
    content: " ";
    margin-right: 8px;
    border: 3px solid $secondary;
    border-right-width: 0px;
    border-bottom-width: 0px;
    display: inline-block;
    width: 20px;
    height: 20px;
    @include transform(rotate(-45deg) translateY(3px));
  }

  &:hover {
    &:before {
      border-color: darken($secondary, 10%)
    }
  }
}

// Brand
.brand {
  float: right;
  position: relative;
  right: 22px;
  top: -20px;
  width: 60px;

  @media screen and (min-width: 667px) {
    top: 0px;
  }

  span {
    font-size: .95em;
    line-height: 1.4em;
    margin-top: -5px;
    border-top: 2px solid $tertiary;
    color: $secondary;
    display: block;
  }
}

// Selection

ul.selection {
  margin-top: 20px;

  @media screen and (min-width: 667px) {
    margin-top: 60px;
  }

  li {
    @include span-columns(6);
    @include omega;
    font-size: 1.3em;
    margin-bottom: 20px;

    @media screen and (min-width: 667px) {
      @include span-columns(4);
      @include omega;
      font-size: 1.5em;
      margin-bottom: 40px;
    }

    @media screen and (min-width: 940px) {
      @include span-columns(3);
    }

    text-align: center;

    img {
      width: 90%;
      margin: 0 auto;

      @include transition(.2s $ease-in-out-sine all);
    }

    &:hover a{
      color: $tertiary;

      img {
        @include transform(scale(1.05));
      }
    }
  }

  &.layout {

    li {
      img {
        height: 215px;
        width: auto;

        @media screen and (min-width: 667px) {
          height: 315px;
          width: auto;
        }
      }
    }

    li:first-child {
      @media screen and (min-width: 940px) {
        @include shift(1.5);

        img {
          height: 315px;
          width: auto;
        }
      }
    }
  }
}


// Color Layout

.colorset, .preview {
  @include span-columns(12);

  @media screen and (min-width: 667px) {
    @include span-columns(6);
    @include omega();
  }
}

.colorset {
  padding-top: 70px;
}

.left {
  margin-top: 40px;
  @include span-columns(2);
  overflow: hidden;
  overflow-y: scroll;
  max-height: 500px;
  border-radius: 250px;
  padding-bottom: -10px;
  border: 6px solid #e6e6e6;

  img, svg {
    min-width: 350px;
    height: auto;
  }
}

#realPreview {
  @include span-columns(12);
  overflow: hidden;
}

.copy {
  font-size: .8em;
  margin: 10px auto;
  text-align: center;
}

@import "_preview355.scss";